
.buttonContainer{
    margin: 50px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

button{
   padding: 60px;
   font-size: 50px;
   font-weight: bold;
   width: 200px;
}

.screen{
    font-size: 80px;
    border: 3px solid black;
    background-color: rgba(128, 128, 128, 0.362);
    height: 100px;
}

.clearButton{
    background-color: rgb(178, 158, 134);
    color: white;
    width: 100%;
    font-size: 50px;
    border: 3px solid black;
}
.operator:hover, .clearButton:hover{
    filter: brightness(120%);
 }

.clearButton:active, .operator:active {
    filter: brightness(65%);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .operator{
    background-color: rgb(70, 87, 70);
    color:white;
  };

 .operator:hover {
    background-color: rgb(220, 245, 230);
 }
   